@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 80px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "FormaDJRBanner";
  src: url("/fonts/FormaDJRBanner-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "FormaDJRBanner";
  src: url("/fonts/FormaDJRBanner-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "FormaDJRDeck";
  src: url("/fonts/FormaDJRDeck-Regular.woff2") format("woff2");
}

nav {
  height: var(--nav-height);
}

input:not(input[type="checkbox"]),
textarea {
  display: block;
  width: 100%;
}

input[type="checkbox"] {
  @apply border-queen-black border-2;
}

input[type="checkbox"]:checked {
  @apply !bg-queen-blue;
}

select {
  background-color: transparent;
  border-style: none none solid none;
  @apply border-queen-black;
}

select:focus {
  box-shadow: none;
  outline-width: 4px;
}


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: lightblue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}

.artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artists > div {
  margin: 10px;
  width: 200px;
}

.artists img {
  width: 100%;
  height: auto;
}

.artists h3 {
  margin-top: 10px;
}
