@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 80px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  height: var(--nav-height);
}

/* Remove autofill background in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px#f7f7f7 inset !important;
}

/*  Remove x icon from ie */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* Remove x icon from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input:not(input[type="checkbox"]):not(input[type="radio"]),
textarea {
  display: block;
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  @apply border-queen-black border-2;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  @apply !bg-queen-blue;
}

select {
  background-color: transparent;
  border-style: none none solid none;
  @apply border-queen-black;
}

select:focus {
  box-shadow: none;
  outline-width: 4px;
}
