.dashboard_grid {
  display: grid;
  grid-template-columns: 70% 30%;
}

.right-opportunity {
  display: grid;
  grid-template-rows: 60% 40%;
  grid-gap: 2rem;
}

.opp_top {
  background-image: url("/images/longitem.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.opp_down {
  background-image: url("/images/smallitem.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
