.login-rows{
    grid-template-rows: 60% 40%;
}

.login_container form{
    width: 75%;
}

.login-title{
font-size: 2.5rem;
font-weight: normal;
margin-bottom: 1rem;
}

.auth-btn{
    margin-top: 2rem;
}